@{
    ViewData["Title"] = "Meet Our Animals";
}
<h1>@ViewData["Title"]</h1>

<p>Please find below a list of our current guests, where they like to hang out, and when they would like for you to call in and meet them!</p>

