@{
    ViewData["Title"] = "Opening Hours";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h3><i>We are open:</i></h3>
    <br>
    <h5>
        Sun: 9am-9pm
    </h5>
    <br>
    <h5>
        Mon: 9am-9pm
    </h5>
    <br>
    <h5>
        Tues: Closed
    </h5>
    <br>
    <h5>
        Wed: 9am-9pm
    </h5>
    <br>
    <h5>
        Thurs: 9am-9pm
    </h5>
    <br>
    <h5>
        Fri: 7am-10pm
    </h5>
    <br>
    <h5>
        Sat: 7am-10pm
    </h5>
    <br>
</p>

